@use "../presets" as *;
@use "../mixins" as *;

.visually-hidden {
  @include visually-hidden;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  background-color: rgba($color-primary, 0.8);
  border: 2px solid $color-primary;
  padding: 0.5em 1em;

  font-size: 1.125rem;
  letter-spacing: 0.1em;

  &--primary {
    min-height: 60px;

    @include sm-min {
      min-width: 350px;
    }

    @include sm {
      min-width: 100%;
    }
  }
}
