@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  font-family: $font-main;
  font-size: $font-size;
}

body{
  color: $color-gray;
  background-color: $color-light;
}
